# The main config file for the Moe Serifu Agent project

[log]
global_level = trace

level = trace
type = file
format = text
output = "[%1$-25s]: (%2$6s) %3$s"
location = msa.log

[event]
idle_sleep_time = 10

[agent]
name = Masa-chan

[input]
type = TTY
id = stdin
handler = get_tty_input

[cmd]
announce = true
