[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
schema = "*"
termcolor = "*"
colorama = "*"
prompt-toolkit = "*"
pygments = "*"
aiohttp = "*"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"

[requires]
python_version = "3.6"
